.add-product-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-family: 'Open Sans', sans-serif;
}

.add-product-container h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.back-button {
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.back-button:hover {
    background-color: black;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: black;
    outline: none;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
    background-color: lightgray;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: black;
}